-- ============================================================================
-- 023: Deactivation Throughput Indexes
--
-- Adds indexes to prevent full heap scans during scoped job deactivation.
-- The previous deactivation queries scanned all active jobs for a source
-- platform before filtering by company or careers_url, causing massive
-- persistence delays (e.g. 100+ seconds) as inventory grew.
-- ============================================================================

BEGIN;

CREATE INDEX IF NOT EXISTS idx_jobs_active_source_company_last_seen
    ON public.jobs (source_platform, company, last_seen_at)
    WHERE is_active = true;

CREATE INDEX IF NOT EXISTS idx_jobs_active_source_careers_url_last_seen
    ON public.jobs (source_platform, careers_url, last_seen_at)
    WHERE is_active = true;

COMMIT;
